h1{
    background-color: darkorange;
    color: darkblue;
    text-align: center;
    border-radius: 75%;
}
h2{background-color: darkgoldenrod;
color:rgb(22, 52, 107);
border-radius: 25%;
text-align: center;
font-style: normal}
p{background-color: coral;
color: blue;
text-align: center;
font-size: larger;}
.i{border: 5px dashed rgb(0, 162, 255);
    border-radius: 5px;
    letter-spacing: 1cm;
font-size: xx-large;
text-decoration: wavy;
text-align: center;
font:bold;
cursor:none;}
.runes{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%}
.approval{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
border-image:dashed gold;
cursor:all-scroll;}
.Phone{text-align: left;
color: bisque;
background-color: darkcyan;}
h3{text-align: center;
    border-radius: 50%;
background-color: orangered;
color: rgb(67, 219, 224) ;}
body{cursor: grabbing;
background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Computer-screen-code-glitch-animation-gif-background-free.gif/800px-Computer-screen-code-glitch-animation-gif-background-free.gif?20180213040859");}
ul{text-underline-position: below;}
.li{text-underline-position: below;

background-color: aquamarine;
border-radius: 2mm;
color: rgb(200, 84, 236);}
.fake{background-color: black;}
